.App {
  width:auto;
  margin:auto;
}

.heading{
  text-align: center;
  margin-bottom: 30px;
  border : 1px solid;
  padding: 25px 50px 75px 100px;
  background-color: orange;
  
}
.profile-image{
  text-align: center;
  margin-bottom: 30px;
  padding: 25px 50px 75px 100px;
}
.aboutme{
border : 1px solid;
margin-bottom: 30px;
text-align:center;
background-color: chocolate;
padding: 25px 10px 75px 20px;
}
.experience{
  border : 1px solid;
  margin-bottom: 30px;
  text-align:center;
  background-color: chocolate;

  padding: 25px 50px 75px 50px;
 
}
.projects{
  border : 1px solid;
  margin-bottom: 30px;
  text-align:center;
  padding: 25px 50px 75px 50px;
 
}
.resources{
  border : 1px solid;
  margin-bottom: 30px;
  text-align: center;
  margin : 1.4 ;
  padding: 25px 10px 75px 20px;
}
#faGithub{
  padding: 25px 10px 75px 20px;
}
#faLinkedin{
  padding: 25px 10px 75px 20px;
}
#faMedium{
  padding: 25px 10px 75px 20px;
}
.button.ecommerce{
padding: 25px 10px 75px 20px;
text-align: center;
}
.button.marvelapp{
  padding: 25px 10px 75px 20px;
}