.App {
  width: auto;
  margin: auto;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;

}
.container{
  padding:0 100px 0 100px;
}
nav ul,
.main-info-section,
.work{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
body{
  background-color: #252627;
}
header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}
.navbar{
background-color: #181818;
}
header h1,
header a,
.text p,
.about h1,
.skills h1,
.experience h1,
.work h1,
.certificate h1,
.contact h1{
color:#707070
}
li{
  list-style: none;
  margin-left: 120px;
}
a{
  text-decoration: none;
  font-size: .9rem;
  text-transform: uppercase;
  position: relative;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
}
.main-info-section{
  height: calc(100vh -81.6px);
}
.text{
  margin-top: 120px;
}
.text h1{
  color: #fff;
  font-size:3rem;
  cursor:context-menu;
}
.text span{
  display: inline-block;
}
span:hover{
  color:#48CFAD;
  transition:all .5s;
}
span.name{
  color:#ED5565;
}

.text p{
  letter-spacing: 3px;
  word-spacing: 10px;
  font-size: .8rem;
}
.text a{
  padding:12px 25px;
  background-color: none;
  color:#ED5565;
  border: 3px solid #ED5565;
  font-size: 0.8rem;
  letter-spacing: 2px;
  position: relative;
  top:80px;
  overflow: hidden;
  transition: .5s;
  display: inline-block;
}
.text a:hover{
  color:#fff;
}
.text a::before{
  content:'';
  background-color: #ED5565;
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height: 0%;
  z-index:-1;
  transition : .5s;
}
.text a:hover::before{
  height:100%;
}
.profile-image img{
  width:45px;
  margin-top: 50px;
}
.about{
  height: 100vh;
  margin-top:50px;
}
.about h1,
.work h1,
.experience h1,
.certificate h1{ 
  font-size: 10rem;
  z-index:0;
  opacity:.1;
}
.about-me-info{
max-width: 900px;
background-color: #252627;
box-shadow:0 0 1.2rem rgba(0,0,0,.25);
padding:60px;
position: relative;
top: -70px;
left:50%;
right:50%;
transform: translateX(-50%);
z-index:1;
}
.about-me-info p{
  font-size:1.3rem;
  color:#BEBEBE;
}
.about-me-info p:nth-child(2),
.about-me-info p:last-child{
 margin-top: 30px;
}
.experience-info{
  max-width: 900px;
  background-color: #252627;
  box-shadow:0 0 1.2rem rgba(0,0,0,.25);
  padding:60px;
  position: relative;
  top: -60px;
  left:50%;
  right:50%;
  transform: translateX(-50%);
  z-index:1;
  }
  .experience-info h2{
    font-size:1.3rem;
    color:#BEBEBE;
    text-align: center;
  }
  .experience-info span{
    font-size:.9rem;
    color:#BEBEBE;
    margin-left: 200px;
  }
.work-info{
  max-width: 900px;
  background-color: #252627;
  box-shadow:0 0 1.2rem rgba(0,0,0,.25);
  padding:60px;
  position: relative;
  top: -70px;
  left:50%;
  right:50%;
  transform: translateX(-50%);
  z-index:1;
  }
 
.skills{
  height: 100vh;
}
.skills h1,
.contact h1{
text-align: right;
font-size:10rem;
opacity: .1;
}
.skills-info{
font-size: 1.4rem;
color:#BEBEBE;
max-width: 800px;
position: relative;
left:50%;
right:50%;
transform: translateX(-50%);
text-align:center;
margin-bottom:50px;
}
#faGithub {
  padding: 25px 10px 75px 20px;
}
#faLinkedin {
  padding: 25px 10px 75px 20px;
}
#faMedium {
  padding: 25px 10px 75px 20px;
}
.projects.ecommerce {
  padding: 25px 10px 75px 20px;
  text-align: center;
}
.projects.marvelapp {
  padding: 25px 10px 75px 20px;
}

/* .heading {
  text-align: center;
  border: 0.5px solid;
  padding: 25px 50px 75px 100px;
  background-color: orange;
}
.profile-image {
  text-align: center;
  padding: 25px 50px 75px 100px;
}

.aboutme {
  border: 0.5px solid;
  text-align: center;
  background-color: chocolate;
  padding: 25px 10px 75px 20px;
}
.experience {
  border: 0.5px solid;
  text-align: center;
  background-color: chocolate;
  padding: 25px 50px 75px 50px;
}
.projects {
  border: 0.5px solid;
  text-align: center;
  background-color: chocolate;
  padding: 25px 50px 75px 50px;
}
.resources {
  border: 0.5px solid;
  text-align: center;
  background-color: chocolate;
  padding: 25px 10px 75px 20px;
}
.ecommerce{
padding-left:10px;
padding-right:10px;
}
.marvelapp{
  padding-left:10px;
  padding-right:10px;
}
.socialmedia{
  padding-left:10px;
  padding-right:10px;
}
.certifications{
  border: 0.5px solid;
  text-align: center;
  background-color: chocolate;
  padding: 25px 10px 75px 20px;
}

#faGithub {
  padding: 25px 10px 75px 20px;
}
#faLinkedin {
  padding: 25px 10px 75px 20px;
}
#faMedium {
  padding: 25px 10px 75px 20px;
}
.projects.ecommerce {
  padding: 25px 10px 75px 20px;
  text-align: center;
}
.projects.marvelapp {
  padding: 25px 10px 75px 20px;
} */
